@import "tailwindcss";

body {
  background-color: #0e1511;
  color: #dde4dd;
  font-family: "Inter", sans-serif;
  margin: 20px;
}

.height{
  font-size: 150px;
}
.height-1{
  font-size: 130px;
}
.height-2{
  font-size: 80px;
}
